* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(227, 210, 186);
  font-family: "Crimson Text", serif;
}

.App {
  color: rgb(208, 26, 26);
}

ul {
  padding: 0;
  margin: 0;
}

.line {
  display: flex;
  justify-content: space-between;
  height: 15vw;
  padding: 0 3vw;
  position: relative;
  transform: translateY(20%);
  overflow: hidden;
  &::before {
    position: absolute;
    content: "";
    background: rgb(208, 26, 26);
    height: 0.1vw;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 1s ease-out;
    transform-origin: left;
  }
  &.visible {
    &::before {
      transform: scaleX(1);
    }
    transform: translateY(0);
    transition: transform 1s ease-out;
  }
  .img-back {
    &:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background-image: url("../../public/echec.jpg");
      background-size: 100%;
      transition: background-size 1s ease-out;
      background-position: center;
      z-index: -1;
    }
    &:after {
      content: "";
      position: absolute;
      transform: translateY(0%);
      transition: transform 0.5s ease-out;

      inset: 0;
      background-color: rgb(227, 210, 186);
      z-index: -1;
    }
  }
  &:hover {
    color: aliceblue;
    .img-back {
      &:before {
        background-size: 120%;
      }
      &:after {
        transform: translateY(-100%);
      }
    }
  }
}

.first {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  h3 {
    font-size: 7vw;
    font-weight: 100;
  }
  span {
    text-decoration: underline;
    margin-right: 2vw;
    margin-bottom: 3vw;
    font-size: 2.3vw;
  }
}

.second {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  text-align: right;
  span {
    font-size: 1vw;
  }
  h5 {
    font-size: 1.2vw;
    font-weight: 900;
    margin: 0;
    white-space: nowrap;
    letter-spacing: 0.1vw;
  }
}
